:root {
  /* Colours */

  --cyan-300: #8fe3f9;
  --cyan-600: #4d96a9;
  --purple-300: #d9b8ff;
  --purple-600: #855fb1;
  --slate-300: #d1d1df;
  --slate-600: #87879d;
  --slate-900: #28283d;
  --white: #fafafa;
}

/* Text preset classes */

.text-preset-1 {
  font-size: 4rem;
}

.text-preset-2 {
  font-size: 2.5rem;
}

.text-preset-3 {
  font-size: 1rem;
  letter-spacing: 0.25rem;
}

.text-preset-4 {
  font-size: 1.125rem;
}

.text-preset-5 {
  font-size: 1rem;
  line-height: 150%;
}

.text-preset-1,
text-preset-2,
text-preset-4,
text-preset-5 {
  letter-spacing: 0px;
}

.text-preset-1,
text-preset-2,
text-preset-3,
text-preset-4 {
  line-height: 110%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: var(--white);
  font-family: "Red Hat Display", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

/* Header styling */

header {
  padding: 3rem 2.25rem 2rem;
}

.header-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-logo {
  display: block;
  margin: 0 auto;
}

.mob-img-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.hero-mob-img {
  max-width: 140%;
}
