:root {
  /* Colours */

  --color__cyan-300: #8fe3f9;
  --color__cyan-600: #4d96a9;
  --color__purple-300: #d9b8ff;
  --color__purple-600: #855fb1;
  --color__slate-300: #d1d1df;
  --color__slate-600: #87879d;
  --color__slate-900: #28283d;
  --color__white: #fafafa;

  /* Font Weights */
  --font-weight-semi: 500;
  --font-weight-black: 900;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: var(--white);
  font-family: "Red Hat Display", sans-serif;
}

.wrapper,
.header-text-container {
  display: flex;
  flex-direction: column;
}

.wrapper,
.header-logo {
  margin: 0 auto;
}

.wrapper {
  max-width: 1600px;
}

/* Header styling */

header {
  padding: 3rem 2.25rem 2rem;
}

main {
  padding: 2rem 2rem 4rem;
}

.header-text-container {
  align-items: center;
}

.header-logo {
  display: block;
}

.mob-img-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.hero-mob-img {
  max-width: 135%;
}

/* headings */

h1,
h2 {
  text-align: center;
}

h1,
main > h2 {
  color: var(--color__slate-900);
}

footer > h2,
p {
  color: var(--color__white);
}

h1 {
  font-weight: var(--font-weight-black);
  font-size: 2.5rem;
  line-height: 110%;
  padding: 0 0.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: var(--font-weight-black);
  line-height: 110%;
}

/* paragraphs */

p {
  font-size: 1rem;
  color: var(--color__slate-600);
  line-height: 150%;
  text-align: center;
}

main p:first-of-type {
  font-size: 0.75rem;
  color: var(--color__cyan-600);
  font-weight: var(--font-weight-black);
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

footer p {
  color: var(--color__white);
}

/* main images  */

.main-pic-container {
  display: grid;
}

.main-pic-container > img {
  max-width: 100%;
}
