:root {
  /* Colours */

  --color__cyan-300: #8fe3f9;
  --color__cyan-600: #4d96a9;
  --color__purple-300: #d9b8ff;
  --color__purple-600: #855fb1;
  --color__slate-300: #d1d1df;
  --color__slate-600: #87879d;
  --color__slate-900: #28283d;
  --color__white: #fafafa;

  /* Font Weights */
  --font-weight-semi: 500;
  --font-weight-black: 900;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: var(--white);
  font-family: "Red Hat Display", sans-serif;
}

.wrapper,
.header-text-container {
  display: flex;
  flex-direction: column;
}

.wrapper,
.header-logo {
  margin: 0 auto;
}

.wrapper {
  max-width: 1600px;
}

/* Header styling */

header {
  padding: 3rem 2.25rem 2rem;
}

.header-text-container {
  align-items: center;
  text-align: center;
}

.header-logo {
  display: block;
}

.mob-img-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.hero-mob-img {
  max-width: 135%;
}

h1 {
  color: var(--color__slate-900);
  font-weight: var(--font-weight-black);
  font-size: 2.5rem;
  line-height: 110%;
  padding: 0 0.5rem;
}
